<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>

<body>

<div class="row text-center border border-info rounded my-3 mx-5">
  <div class="col-11">

    <h3>To change you password, validate yourself first</h3>

    <form th:action="@{/forgot-password}" method="post" autocomplete="off">
      <div th:insert="~{fragments/login_field.html :: div}"> </div>

      <div th:insert="~{fragments/questions_answers_fields.html :: div}"> </div>

      <div th:insert="~{fragments/password_fields.html :: div}"> </div>

      <button class="my-1" type="submit">Continue</button>
    </form>
  </div>
</div>

<div class="row text-center">
  <div class="col-11">
    <p>already have an account?</p>
    <a th:href="@{/login}">Cancel</a>
    <br>
    <a th:href="@{/}">Home Page</a>
  </div>
</div>

</body>
</html>
