<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>

<body>

<div class="text-center border border-danger rounded m-5 row">
  <div class="col-11">
    <h1>Password Reset</h1>

    <form th:action="@{/reset-password}" method="post" autocomplete="off">

      <div class="row">
        <div class="col">
          <label class="form-label" for="oldPassword">Old Password:</label>
          <p class="text-danger" th:if="${errorMessages}">
            <span th:if="${errorMessages['oldPassword']}" th:text="${errorMessages['oldPassword']}"></span>
          </p>
          <input class="my-2 form-control" type="password" id="oldPassword" name="oldPassword">
        </div>
      </div>

      <div th:insert="~{fragments/password_fields.html :: div}"> </div>

      <div class="row">
        <div class="col">
          <a th:href="@{/login}" class="mx-2">Cancel</a>
          <button class="my-2" type="submit">Reset Password</button>
        </div>
      </div>

    </form>
  </div>
</div>

</body>
</html>
