<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>

<body>

<div class="text-center border border-dark rounded m-5">
  <h1>User List</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <th>Actions</th>

    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.username}"></td>
      <td>
        <form th:action="@{/admin/users}" method="post">
          <input type="hidden" name="id" th:value="${user.id}" />
          <input type="hidden" name="action" value="delete" />
          <button th:if="${user.username != 'admin'}" type="submit" class="btn btn-primary">Delete User</button>
        </form>
      </td>
    </tr>
  </table>
  <a th:href="@{/}" class="m-2">Home Page</a>
  <a th:href="@{/logout}" class="btn btn-primary m-3">log out</a>

</div>

</body>
</html>
